<div class="container">
    <h2>글 쓰기</h2>
    <form action="/post" method="post" enctype="multipart/form-data">
        <% if (user === null) { %>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <% } %>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">image</label>
            <input class="form-control" type="file" id="file" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>