<h2>회원 정보</h2>

<div class="card" style="width: 50%; height: 50%;">
    <div class="card-body">
        <h5 class="card-title">
            <%= userInfo.email%>
        </h5>
        <p class="card-text">
            <%= userInfo.name%>
        </p>

        <% if (user && user.id === userInfo.id) { %>
        <div style="display: flex;">
            <a href="/user/<%= userInfo.id%>/edit" role="button" class="btn btn-primary">수정하기</a>
            <form action="/user/<%= userInfo.id%>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-secondary">삭제하기</button>
            </form>
        </div>
        <% } %>
    </div>
</div>